{% extends "layout/manage.html" %}
{% load static %}
{% load dashboard %}
{% load issue %}

{% block title %}
    概览
{% endblock %}


{% block css %}
    <style>
        #questions {
            display: flex;
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;

            text-align: center;

        }

        #questions dl {
            width: 25%;
        }

        #questions dt {

        }

        #questions dd {
            font-size: 24px;
        }

        #users {

        }

        #users dl {
            width: 50px;
            text-align: center;
            margin-right: 20px;
        }

        #users dt {
            height: 50px;
            border-radius: 50%;

            line-height: 50px;
            background-color: cyan;
        }

        #users #join_users {
            display: flex;
        }

        .dynamic {
            margin-top: 10px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="col-md-8">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-area-chart" aria-hidden="true"></i> 新增问题趋势
                    </h3>
                </div>
                <div class="panel-body" style="min-height: 200px;">

                    <div id="charts"></div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-question" aria-hidden="true"></i> 问题
                            </h3>
                        </div>
                        <div class="panel-body" id="questions">
                            {% for foo in questions %}
                                <dl>
                                    <dt>{{ foo.name }}</dt>
                                    <dd>{{ foo.value }}</dd>
                                </dl>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <i class="fa fa-users" aria-hidden="true"></i> 项目成员
                            </h3>
                        </div>
                        <div class="panel-body" id="users">
                            <dl>
                                <dt>{{ users.creator.username.0|upper }}</dt>
                                <dd>{{ users.creator.username }}</dd>
                            </dl>

                            <div id="join_users">{% for foo in users.join_users %}
                                <dl>
                                    <dt>{{ foo.username.0|upper }}</dt>
                                    <dd>{{ foo.username }}</dd>
                                </dl>
                            {% endfor %}</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-info-circle" aria-hidden="true"></i> 详细
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>项目名称</td>
                            <td>{{ project.name }}</td>
                        </tr>

                        <tr>
                            <td>项目描述</td>
                            <td>{{ project.desc | default:'' }}</td>
                        </tr>

                        <tr>
                            <td>创建时间</td>
                            <td>{{ project.create_time }}</td>
                        </tr>

                        <tr>
                            <td>项目空间</td>
                            <td>{% show_project_user_space project.user_space %}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-bullseye" aria-hidden="true"></i> 动态
                    </h3>
                </div>
                <div class="panel-body">
                    {% for foo in dynamic_datas %}

                        <div class="dynamic">
                            <a href="{% url 'web:issues_detail' project_id=project_id issue_id=foo.id %}">{% get_id_just foo.id %}</a>
                            <a href="{% url 'web:issues_detail' project_id=project_id issue_id=foo.id %}">{{ foo.subject }}</a>
                            指派给
                            {{ foo.assign }}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>


    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugin/highcharts/highcharts.js' %}"></script>
    <script>
        $(function () {
            initCharts()
        })

        function initCharts() {
            let config = {
                title: {
                    text: null
                },
                subtitle: {
                    text: null
                },
                credits: {
                    enabled: false
                },
                legend: {
                    enable: false
                },
                yAxis: {
                    title: {
                        text: '问题数'
                    },
                    tickInterval: 1,
                },
                xAxis: {
                    type: "datetime",
                    tickInterval: 60 * 60 * 24 * 1000,
                    labels: {
                        formatter: function () {
                            return Highcharts.dateFormat("%m-%d", this.value)
                        },
                        rotate: -30
                    }
                },
                tooltip: {
                    headerFormat: '<b>{point.key}</b><br>',
                    pointFormat: '<span style="color:{series.color}">\u25CF</span>数量：{point.y}',
                    xDateFormat: "%Y-%m-%d"
                },
                plotOptions: {
                    area: {
                        stacking: "normal",
                        lineColor: "#666",
                        lineWidth: 1,
                        marker: {
                            lineColor: "#666",
                            lineWidth: 1,
                        }
                    }
                },
                series: [{
                    name: '每天bug数量',
                    data: []
                }],


            }

            $.ajax({
                url: "{% url 'web:dashboard_charts' project_id=project_id %}",
                type: "get",
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    if (res.status) {
                        config.series[0].data = res.data


                        const chart = Highcharts.chart('charts', config);
                    } else {

                    }
                }
            })


        }
    </script>
{% endblock %}