{% extends "layout/manage.html" %}
{% load static %}
{% load issue %}

{% block title %}
    问题
{% endblock title %}

{% block css %}
    <style>
        #btn-group {
            margin-bottom: 20px;
        }

        dl {
            border-top: 1px solid #ccc;
            padding-top: 14px;

        }

        dt {
            padding-bottom: 8px;
        }

        dd {
            padding-left: 37px;

        }

        .modal-dialog {
            width: 70%;

        }


        #filter a {
            margin-right: 10px;
        }


    </style>
    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/bootstrap-select/dist/css/bootstrap-select.css' %}">
    <link rel="stylesheet" href="{% static 'plugin/select2/dist/css/select2.css' %}">
{% endblock css %}


{% block content %}
    <div class="container-fluid">

        <div class="panel panel-default col-md-3">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-search" aria-hidden="true"></i> 筛选
                </h3>
            </div>
            <div class="panel-body" id="filter">
                {% for foo in status_filter %}
                    {{ foo }}
                {% endfor %}
                <hr>
                {% for foo in priority_filter %}
                    {{ foo }}
                {% endfor %}
                <hr>
                {% for foo in issues_type_filter %}
                    {{ foo }}
                {% endfor %}
                <hr>
                {% for foo in assign_filter %}
                    {{ foo }}
                {% endfor %}
                <hr>
                {% for foo in attention_filter %}
                    {{ foo }}
                {% endfor %}
            </div>
        </div>

        <div class="panel panel-default col-md-9">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <i class="fa fa-question-circle" aria-hidden="true"></i> 问题
                </h3>
            </div>


            <div class="panel-body">
                <div id="btn-group">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">新建问题</button>
                    <button class="btn btn-info" data-toggle="modal" data-target="#inviteModal">邀请成员</button>
                </div>

                {% for issue in issues %}
                    <dl>
                        <dt>
                            <a href="{% url 'web:issues_detail' project_id=project_id issue_id=issue.id %}">
                                {% get_id_just issue.id %}
                            </a>
                            <a href="{% url 'web:issues_detail' project_id=project_id issue_id=issue.id %}">
                                {{ issue.subject }}
                            </a>
                        </dt>
                        <dd>{{ issue.issues_type }} {{ issue.get_status_display }} {{ issue.creator }} {{ issue.create_datetime }}</dd>
                    </dl>
                {% endfor %}

                <ul class="pagination">
                    {{ pagination_html|safe }}
                </ul>


            </div>
        </div>
    </div>


    <!-- 模态框（创建问题） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">新建问题</h4>
                </div>
                <div class="modal-body">

                    <form class="form-horizontal" role="form">


                        <div class="form-group">
                            <label for="{{ form.issues_type.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.issues_type.label }}</label>
                            <div class="col-sm-10">
                                {{ form.issues_type }}
                                <div class="error"></div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="{{ form.module.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.module.label }}</label>
                            <div class="col-sm-10">
                                {{ form.module }}
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.subject.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.subject.label }}</label>
                            <div class="col-sm-10">
                                {{ form.subject }}
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.desc.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.desc.label }}</label>
                            <div class="col-sm-10">
                                <div id="mded">{{ form.desc }}</div>
                                <div class="error"></div>
                            </div>
                        </div>


                        <div class="form-group col-md-6">
                            <label for="{{ form.priority.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.priority.label }}</label>
                            <div class="col-sm-10">
                                {{ form.priority }}
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.status.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.status.label }}</label>
                            <div class="col-sm-10">
                                {{ form.status }}
                                <div class="error"></div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.assign.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.assign.label }}</label>
                            <div class="col-sm-10">
                                {{ form.assign }}
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.attention.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.attention.label }}</label>
                            <div class="col-sm-10">
                                {{ form.attention }}
                                <div class="error"></div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="{{ form.start_date.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.start_date.label }}</label>
                            <div class="col-sm-10">
                                {{ form.start_date }}
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.end_date.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.end_date.label }}</label>
                            <div class="col-sm-10">
                                {{ form.end_date }}
                                <div class="error"></div>
                            </div>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="{{ form.mode.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.mode.label }}</label>
                            <div class="col-sm-10">
                                {{ form.mode }}
                                <div class="error"></div>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="{{ form.parent.id_for_label }}"
                                   class="col-sm-2 control-label">{{ form.parent.label }}</label>
                            <div class="col-sm-10">
                                {{ form.parent }}
                                <div class="error"></div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" id="submitIssues" class="btn btn-primary">提交更改</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <!-- 模态框（邀请成员） -->
    <div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">邀请成员</h4>
                </div>
                <div class="modal-body clearfix">

                    {% for field in invite_form %}
                        <div class="form-group clearfix">
                            <label for="{{ field.id_for_label }}"
                                   class="col-sm-2 control-label">{{ field.label }}</label>
                            <div class="col-sm-10">
                                {{ field }}
                                <div class="error"></div>
                            </div>
                        </div>
                    {% endfor %}


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">生成邀请链接</button>
                </div>

                <div class="form-group hide">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">邀请链接</button>
                        </span>
                            <input type="text" class="form-control">
                            <span class="input-group-btn">
                            <button class="btn btn-info" type="button">复制</button>
                        </span>
                        </div><!-- /input-group -->
                    </div><!-- /.col-lg-6 -->
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static 'plugin/editor-md/editormd.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-select/dist/js/bootstrap-select.js' %}"></script>
    <script src="{% static 'plugin/bootstrap-select/dist/js/i18n/defaults-zh_CN.js' %}"></script>
    <script src="{% static 'plugin/select2/dist/js/select2.full.js' %}"></script>
    <script src="{% static 'plugin/select2/dist/js/i18n/zh-CN.js' %}"></script>
    <script>
        $(function () {
            initMDE()
            submitIssues()
            initDateTimePicker();
            bindFilter()
            initSelect2()
        })

        /**
         * 提交issue到后台
         */
        function submitIssues() {
            $("#submitIssues").click(function () {
                console.log(1234)
                $(".error").empty()
                $.ajax({
                    url: "{% url 'web:issues' project_id=project_id %}",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (res) {

                        if (res.status) {
                            location.reload()
                        } else {
                            $.each(res.errors, function (k, v) {
                                $("#id_" + k).next().text(v[0])
                            })
                        }
                    }
                })
            })
        }

        /**
         * 初始化MarkDown编辑器
         */
        function initMDE() {
            // 打开模态框 shown.bs.modal 事件被触发
            $('#myModal').on('shown.bs.modal', function () {
                // 渲染markdown编辑器
                const editor = editormd("mded", {
                    width: "100%",
                    height: "300px",
                    path: "{% static 'plugin/editor-md/lib/' %}",
                    imageUpload: true,
                    imageFormats: ["jpeg", "jpg", "png", "gif"],
                    imageUploadURL: "{% url 'web:mdupload' project_id=project_id%}",

                });
            })

        }

        /**
         * 初始化时间选择器插件
         */
        function initDateTimePicker() {
            $('#id_start_date').datetimepicker({
                forceParse: 0,//设置为0，时间不会跳转1899，会显示当前时间。
                language: 'zh-CN',//显示中文
                format: 'yyyy-mm-dd',//显示格式
                minView: "month",//设置只显示到月份
                initialDate: new Date(),//初始化当前日期
                autoclose: true,//选中自动关闭
                todayBtn: true//显示今日按钮
            })
            $("#id_start_date").datetimepicker("setDate", new Date());  //设置显示默认当天的时间

            $('#id_end_date').datetimepicker({
                forceParse: 0,//设置为0，时间不会跳转1899，会显示当前时间。
                language: 'zh-CN',//显示中文
                format: 'yyyy-mm-dd',//显示格式
                minView: "month",//设置只显示到月份
                initialDate: new Date(),//初始化当前日期
                autoclose: true,//选中自动关闭
                todayBtn: true//显示今日按钮
            })
        }

        /**
         * 为checkbox绑定点击事件
         */
        function bindFilter() {
            $("#filter").find("input:checkbox").click(function () {
                location.href = $(this).parent("a").attr("href")
            })
        }


        function initSelect2() {
            $(".c1").select2().on("select2:select", function (e) {
                console.log("选中了", e.params.data.id)
                location.href = e.params.data.id
            }).on("select2:unselect", function (e) {
                //console.log("未选中", e.params.date)
                location.href = e.params.data.id
            })
        }

    </script>

{% endblock js %}