{% extends "layout/base.html" %}

{% block title %}
    用户名登录
{% endblock title %}

{% block css %}
    <style>
        .container {
        }

        .reg h2 {

            text-align: center;
        }

        .reg {
            box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
            width: 600px;
            margin: 100px auto 10px;
            padding: 10px;
            position: relative;
        }

        .reg > a {
            position: absolute;
            bottom: 20px;
            right: 20px;
        }

        .error {
            position: absolute;
            color: red;
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container">
        <div class="reg">
            <h2>用户名登录</h2>
            <form id="reg-form">
                {% for field in form %}
                    {% if field.name != "code" %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">{{ field.label }}</label>
                            {{ field }}
                            <div class="error"></div>
                        </div>
                    {% else %}
                        <div class="form-group">
                            <label for=" exampleInputEmail1">{{ field.label }}</label>
                            <div class="row">
                                <div class="col-md-6">{{ field }}
                                    <div class="error"></div>
                                </div>
                                <div class="col-md-6">
                                    <img id="code_png" src="{% url "web:code" %}" alt="验证码">
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </form>

            <input type="button" id="reg-btn" class="btn btn-primary btn-lg" value="登 录">
            <a href="{% url "web:smslogin" %}">短信登录</a>

        </div>
    </div>
{% endblock content %}


{% block js %}
    <script>
        $(function () {
            submitRegisterForm()
            getNewCodePng()
        })

        function getNewCodePng() {
            const codePng = $("#code_png")
            codePng.click(function () {
                let newSrc = "{% url "web:code" %}?time=" + new Date().getTime()
                codePng.attr("src", newSrc)
            })
        }

        function submitRegisterForm() {
            $("#reg-btn").click(function () {
                {#console.log(2222)#}
                {# 发送请求前 先清除错误信息#}
                $(".error").text("")
                $.ajax({
                    type: "POST",
                    url: "{% url "web:login" %}",
                    data: $("#reg-form").serialize(),
                    dataType: "json",
                    success: function (res) {
                        {#console.log(res)#}
                        {#console.log(333)#}
                        if (res.status) {
                            console.log("成功")
                            location.href = res.data
                        } else {
                            $.each(res.errors, function (k, v) {
                                {#console.log(k, v[0])#}
                                {# 由于表单中 div.error 总是放在每个输入字段之后 所以通过 next()获取 #}
                                $("#id_" + k).next().text(v[0])
                            })
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })
        }
    </script>
{% endblock js %}