{% extends "layout/manage.html" %}
{% load static %}


{% block title %}
    概览
{% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static 'plugin/daterangepicker/daterangepicker.css' %}">
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1">日期范围</span>
                    <input type="text" id="dtp" class="form-control" placeholder="Username"
                           aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-9">

            </div>
        </div>

        <div class="row" style="margin-top: 20px">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            人员工作进度
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="lc" style="min-width:400px;height:400px"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            优先级统计
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div id="rc" style="min-width:400px;height:400px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'plugin/highcharts/highcharts.js' %}"></script>
    <script src="{% static 'plugin/daterangepicker/moment.min.js' %}"></script>
    <script src="{% static 'plugin/daterangepicker/daterangepicker.js' %}"></script>
    <script>
        $(function () {
            initDateTimePicker()

            initChart2()
        })

        function initDateTimePicker() {
            let options = {
                maxDate: moment(),
                alwaysShowCalendars: true,
                showWeekNumbers: true,
                ranges: {
                    '今天': [moment(), moment()],
                    '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '最近7天': [moment().subtract(6, 'days'), moment()],
                    '最近30天': [moment().subtract(29, 'days'), moment()],
                    '本月': [moment().startOf('month'), moment().endOf('month')],
                },

            }
            // 选择了日期 则按照日期区间绘制图表
            $("#dtp").daterangepicker(options, function (start, end) {
                console.log("*******", start.format("YYYY-MM-DD"), end.add(1, "days").format("YYYY-MM-DD"))
                let s = start.format("YYYY-MM-DD")
                let e = end.add(1, "days").format("YYYY-MM-DD")
                initCharts(s, e)
                initChart2(s, e)
            });


            // 未选择日期 页面初始化的时候 默认当天为时间范围 绘制图表
            initCharts(moment().format("YYYY-MM-DD"), moment().add(1, "days").format("YYYY-MM-DD"))
            initChart2(moment().format("YYYY-MM-DD"), moment().add(1, "days").format("YYYY-MM-DD"))
        }

        function initCharts(start, end) {
            let config = {
                credits: {
                    enabled: false
                },
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: '各级问题占比'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: []
                }]
            };
            getchart1(config, start, end)

        }

        function getchart1(config, start, end) {
            $.ajax({
                url: "{% url 'web:statistics_chart1' project_id=project_id %}",
                type: "get",
                data: {
                    start: start,
                    end: end,
                },
                dataType: "json",
                success: function (res) {
                    if (res.status) {
                        config.series[0].data = res.datas
                        Highcharts.chart('rc', config);
                    } else {

                    }
                }
            })
        }

        function initChart2(start, end) {
            let config = {
                chart: {
                    type: 'column'
                },
                title: {
                    text: '堆叠柱形图'
                },
                xAxis: {
                    categories: []
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '水果消费总量'
                    },
                    stackLabels: {  // 堆叠数据标签
                        enabled: true,
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -30,
                    verticalAlign: 'top',
                    y: 25,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + '<br/>' +
                            '总量: ' + this.point.stackTotal;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                // 如果不需要数据标签阴影，可以将 textOutline 设置为 'none'
                                textOutline: '1px 1px black'
                            }
                        }
                    }
                },
                series: []
            };
            getchart2(config, start, end)
        }


        function getchart2(config, start, end) {
            $.ajax({
                url: "{% url 'web:statistics_chart2' project_id=project_id %}",
                type: "get",
                data: {
                    start: start,
                    end: end
                },
                dataType: "json",
                success: function (res) {
                    console.log(res)
                    if (res.status) {
                        config.xAxis.categories = res.data.categories
                        config.series = res.data.series
                        Highcharts.chart('lc', config);
                    } else {

                    }
                }
            })
        }
    </script>
{% endblock %}