{% extends "layout/manage.html" %}
{% load static %}
{% block title %}
    wiki
{% endblock title %}

{% block css %}
    <style>
        #index {
            border-right: rgba(0, 0, 0, .2) 1px solid;
        }

        ul {
            padding-left: 14px;
        }

        li {
            list-style: none;
        }

        a:hover {
            text-decoration: none;
            color: cyan;
        }
    </style>

    <link rel="stylesheet" href="{% static 'plugin/editor-md/css/editormd.css' %}">
{% endblock css %}

{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">WIKI</h3>

        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3" id="index">
                    <ul id="tree">

                    </ul>
                </div>
                <div class="col-md-9">

                    <form>
                        {% if wiki_id %}
                            <input type="hidden" name="wiki_id" value="{{ wiki_id }}">
                        {% endif %}

                        {% for field in form %}

                            {% if field.name == "content" %}
                                <div id="md">
                                    {{ field }}
                                </div>
                            {% else %}
                                <div class="form-group">
                                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {{ field }}
                                    <div class="error"></div>
                                </div>
                            {% endif %}

                        {% endfor %}
                    </form>
                    {% if wiki_id %}
                        <button class="btn btn-primary btn-lg" id="submitBtn">修改</button>
                    {% else %}
                        <button class="btn btn-primary btn-lg" id="submitBtn">添加</button>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js %}
    <script src="{% static 'plugin/editor-md/editormd.js' %}"></script>
    <script>


        $(function () {

            // 渲染markdown编辑器
            const editor = editormd("md", {
                // width  : "100%",
                height: "500px",
                path: "{% static 'plugin/editor-md/lib/' %}",
                imageUpload: true,
                imageFormats: ["jpeg", "jpg", "png", "gif"],
                imageUploadURL: "{% url 'web:mdupload' project_id=project_id%}",
            });
            let url = "{% url "web:tree" project_id=project_id %}"
            createDirectoryTree(url)

            if ($("input[type=hidden]")[0] === undefined) {
                console.log("添加")

                submitForm()
            } else {
                console.log("修改")
                editForm()
            }

        })

        function submitForm() {
            $("#submitBtn").click(function () {
                $.ajax({
                    url: "{% url "web:wiki" project_id=project_id %}",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (res) {
                        console.log(res)
                        if (res.status) {
                            location.reload()
                        } else {
                            $.each(res.errors, function (k, v) {
                                $("#id_" + k).next().text(v[0])
                            })
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })
        }

        function editForm() {
            $("#submitBtn").click(function () {
                $.ajax({
                    url: "{% url "web:wiki_edit" project_id=project_id wiki_id=wiki_id%}",
                    type: "post",
                    data: $("form").serialize(),
                    dataType: "json",
                    success: function (res) {
                        console.log(res)
                        if (res.status) {
                            location.reload()
                        } else {
                            $.each(res.errors, function (k, v) {
                                $("#id_" + k).next().text(v[0])
                            })
                        }
                    },
                    error: function (err) {
                        console.log(err)
                    }
                })
            })
        }
    </script>
{% endblock js %}